@using MyEvernote.Entities.Messages
@using MyEvernote.WebApp.ViewModels
@model ErrorViewModel

@{
    ViewBag.Title = Model.Title;
}

<link href="~/Content/Login-register.css" rel="stylesheet" />

<body onload="setTimeout('yonlendir()',3000)">
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center "> @Model.Header </h1>
                </div>
                <div class="main-content">
                    <div class="text-danger">
                        <h2><span class="glyphicon glyphicon-remove-circle"></span>&emsp;@Model.Title&hellip;</h2>
                        <hr />
                        <p class="text-justify">
                            @foreach (ErrorMessagesObj msg in Model.Items)
                            {
                                @msg.Message<br />
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


<script>
    function yonlendir() {
        window.location = "/Home/Index";
    }
</script>



